version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-demo
    ports:
      - "6380:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    container_name: zookeeper-demo
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2182:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    container_name: kafka-demo
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9093:9092"

  cron-service:
    build: .
    container_name: cron-service
    env_file:
      - .env
    depends_on:
      - redis
      - kafka
    command: ["./cron-service"]